@media screen and (max-width: 1920px) {
    .container { width: 80%; }
    h1 { font-size: 5vw; }
    .description { font-size: 3vw; } 
}

@media screen and (max-width: 820px) {
    .container { width: 90%; }
    h1 { font-size: 6.5vw; }
    .description { font-size: 4vw; } 
}

@media screen and (max-width: 320px) {
    .container { width: 100%; }
    h1 { font-size: 8vw; }
    .description { font-size: 5vw; } 
}

@media screen and (min-width: 1921px) {
    .container { width: 80%; }
    h1 { font-size: 5vw; }
    .description { font-size: 3vw; } 
}

@media (hover: hover) {
    .accordion:hover .description {
        color: white;
        transition: 0.2s ease;
    }
    
    .accordion:hover .icon {
        display: block;
        transform: rotate(225deg);
    }
    
    .dropdown:hover .icon {
        transform: rotate(0deg);
        transition: 0.3s ease;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        animation: growDown 0.3s ease-out;
        transform-origin: top center;
    }
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

header {
    margin-top: 20vh;
}

h1 {
    font-weight: 700;
    margin: 0 auto;
}

img {
 max-width: 100%;
}

.container {
    margin: 0 auto;
}

.accordion {
    text-align: center;
}

.dropdown {
    display: inline-block;
    width: 100%;
    border-top: 0.1vw solid white;
    cursor: pointer;
    padding-bottom: 1.5vh;
}

.description {
    font-weight: 500;
    color: red;
    padding: 1.5vh 0 1.5vh 0;
}

.icon {
    display: none;
    padding: 1.5vh 0 1.5vh 0;
    width: 3vh;
    height: 3vh;
    fill: white;
}

.dropdown-description {
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    background-color: black;
    z-index: 1;
}

.accordion:hover .description,
.accordion input[type=radio]:checked ~ .dropdown-description .description {
    color: white;
    transition: 0.2s ease;
}

.accordion:hover .icon {
    display: block;
    transform: rotate(225deg);
}

.dropdown:hover .icon {
    transform: rotate(0deg);
    transition: 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: growDown 0.3s ease-out;
    transform-origin: top center;
}

.dropdown:checked {
    display: block;
}

input[type=radio] {
    display: none;
}

.accordion input[type=radio]:checked ~ .dropdown-description .icon {
    transform: rotate(0deg);
}

.dropdown:hover input:checked ~ .dropdown-content {
    animation: none;
}

input[type=radio]:checked~.dropdown-content {
    display: block;
}

input[type=radio]:active~.dropdown-content {
    scale: 1.03;
    transition: 0.3s ease;
}

label:active .icon {
    fill: red;
    transition: 0.2s ease;
}

label:active .description {
    color: red !important;
    transition: 0.2s ease;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}
