@media screen and (max-width: 1920px) {
    .container { width: 80%; }
}

@media screen and (max-width: 820px) {
    .container { width: 90%; }
}

@media screen and (max-width: 320px) {
    .container { width: 100%; }
    body { margin: 1vw 0;
    }
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

header {
    margin-top: 20vh;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    margin: 0 auto;
}

img {
 max-width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.accordion {
    text-align: center;
}

.icon {
    display: none;
    transform: rotate(225deg);
    padding: 1.5vh 0 1.5vh 0;
    width: 3vh;
    height: 3vh;
    fill: white;
}

.description {
    font-size: 3vw; 
    font-weight: 500;
    color: red;
    padding: 1.5vh 0 1.5vh 0;
}

.dropdown-description {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: inline-block;
    border-top: 0.1vw solid white;
    width: 100%;
    cursor: pointer;
}

.accordion:hover .description,
.accordion input:checked ~ .dropdown-description .description {
    color: white;
    transition: 0.2s ease;
}

.accordion:hover .icon {
    display: initial;
}

.dropdown-content {
    display: none;
    background-color: black;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: growDown 0.3s ease-out;
    transform-origin: top center;
}

.dropdown:hover .icon {
    transform: rotate(0deg);
    transition: 0.2s ease;
}

.dropdown:checked {
    display: inline;
}

input {
    display: none;
}

input:checked~.dropdown-content {
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}





